body {
  position:fixed;
  left:0;
  top:0;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y:auto;
  backface-visibility: hidden;
}

a {
    text-decoration:none;
    color:white;
}


ul{
    list-style:none;
}

@font-face {
  font-family: tea;
  src:url('element/teafront.otf');
}



/*區塊設定*/

.header{
    position: absolute;
    z-index: 99;
}

.main_page{
    position: fixed;
    z-index: 99;
}



#style2{
    display: none;
}

#style3{
    display: none;
}

/*icon*/

#icona{
    position: fixed;
    font-size: 23px;
    color:#fff;
    top:20px;
    left: 97vw;
}

#iconb{
    position: fixed;
    font-size: 23px;
    color:#fff;
    top:20px;
    left: 94vw;
}
#iconc{
    position: fixed;
    font-size: 23px;
    color:#fff;
    top:20px;
    left: 91vw;
}

/*中間動畫*/

.logo{
  display: none;
  position:fixed;
  width:500px;
  height:400px;
  left:50vw;
  top:50vh;
  margin-left:-250px;
  margin-top:-200px;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(element/picture/logo_white.png);
  
}


.lines{
  position:absolute;
  background-color:white;
  width:0vw;
  height:3px;
  top:49.2vh;
}

#line1{
    position:absolute;
    left: 0;
}

#line2{
    position:absolute;
    left: 53vw;
}




.overlay{
  position:absolute;
  z-index: 10;
  opacity: 0.2;
  height:100vh;
  width:100vw;
  background-size: cover;
  background-position:center;
  background-image: url(element/picture/overlay_blue.png);
}



/*主選按鈕*/

.main_button{
position: fixed;
display: none;
top: 80vh;
left: 50vw;
margin-left: -405px;   
}

.m_bts{
  margin-right: 180px;
  float: left;
  width:150px;
  height:60px;
  background-color:rgba(255,255,255,0.3);
  border:1px #262727;
  border-style:solid;
  font-family:'tea';
  color: white;
  line-height: 55px;
  text-align:center;
}

#mbts1{
  text-indent: 10px;
  letter-spacing:10px;
}
#mbts2{
  text-indent: 30px;
  letter-spacing:30px;
}
#mbts3{
  text-indent: 30px;
  letter-spacing:30px;
}


/*操縱parallax按鈕*/

.buttons{
    position: fixed;
    bottom: 20vh;
    left: 0px;
    z-index: 99;
}

#button{
    margin: 0;
    padding: 0;
}


.bts{
    margin-left: -20px;
    margin-top: 30px;
    width:70px;
    height:40px;
    background-color:white;
    color: deepskyblue;
    font-family:'tea';
    text-align: right;
    letter-spacing:10px;
    line-height: 40px;
    transition-duration: 0.3s;
}

.bts:hover{
    opacity: 0.5;
    margin-left: 0px;
    background-color:deepskyblue;
    color: white;
}



/*fullscreen parallax*/

#scene {
    padding: 0;
    margin: 0;
    width: 125%;
    height: 100%;
    top: -5%;
    left: -5%;
}

#scene2 {
    padding: 0;
    margin: 0;
    width: 125%;
    height: 100%;
    top: -5%;
    left: -5%;
}

#scene3 {
    padding: 0;
    margin: 0;
    width: 125%;
    height: 100%;
    top: -5%;
    left: -5%;
}





.main{
  height:100vh;
  width:100vw;
}

.layer{
  position:absolute;
  width:100%;
  height:130%;
}


#video-background {
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

.layer1 {
    background-image: url(element/picture/parallax_verA/parallax12.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -5%;
    left: -5%;
}

.layer2 {
    background-image: url(element/picture/parallax_verA/parallax11.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -5%;
    left: -5%;
}

.layer3 {
    background-image: url(element/picture/parallax_verA/parallax10.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -5%;
    left: -5%;
    background-blend-mode:soft-light;
}

.layer4 {
    background-image: url(element/picture/parallax_verA/parallax08.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -5%;
    left: -5%;
    
}

.layer5 {
    background-image: url(element/picture/parallax_verA/parallax07.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -5%;
    left: -5%;
}

.layer6 {
    background-image: url(element/picture/parallax_verA/parallax05.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -5%;
    left: -5%;
}

.layer7 {
    background-image: url(element/picture/parallax_verA/parallax02.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -5%;
    left: -5%;
    background-blend-mode:hard-light;
}

.layer8 {
    background-image: url(element/picture/parallax_verA/parallax01.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -5%;
    left: -5%;
}

.layer9 {
    background-image: url(element/picture/parallax_verA/parallax00.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -5%;
    left: -5%;
    opacity: 0.2;
}

/*parallaxB*/

.layerB1 {
    background-image: url(element/picture/parallax_verB/parallaxB00.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -5%;
    left: -5%;
}

.layerB2 {
    background-image: url(element/picture/parallax_verB/parallaxB01.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -5%;
    left: -5%;
}

.layerB3 {
    background-image: url(element/picture/parallax_verB/parallaxB02.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -5%;
    left: -5%;
    background-blend-mode:soft-light;
}


.layerB4 {
    background-image: url(element/picture/parallax_verB/parallaxB03.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -5%;
    left: -5%;
    
}

.layerB5 {
    background-image: url(element/picture/parallax_verB/parallaxB04.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -5%;
    left: -5%;
}


/*parallaxC*/

.layerC1 {
    background-image: url(element/picture/parallax_verC/parallaxC00.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -5%;
    left: -5%;
}

.layerC2 {
    background-image: url(element/picture/parallax_verC/parallaxC01.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -5%;
    left: -5%;
}

.layerC3 {
    background-image: url(element/picture/parallax_verC/parallaxC02.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -5%;
    left: -5%;
    background-blend-mode:soft-light;
}


.layerC4 {
    background-image: url(element/picture/parallax_verC/parallaxC03.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -5%;
    left: -5%;
    
}

.layerC5 {
    background-image: url(element/picture/parallax_verC/parallaxC04.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -5%;
    left: -5%;
}




.layerC6 {
    background-image: url(element/picture/parallax_verC/parallaxC05.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -5%;
    left: -5%;
}




.layerC7 {
    background-image: url(element/picture/parallax_verC/parallaxC06.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -5%;
    left: -5%;
    background-blend-mode:hard-light;
}



/*music player*/
.musicplayer{
    position: fixed;
    z-index: 99;
    top: 16px;
    right: 150px;
}

/* DO NOT REMOVE OR MODIFY */
/*{"skinName": "mySkin", "borderRadius": 12, "main": "rgb(255, 255, 255)", "secondary": "rgb(204, 204, 204)", "playerPadding": 0}*/
/* END - DO NOT REMOVE OR MODIFY */
/*++++++++++++++++++++++++++++++++++++++++++++++++++
Copyright (c) 2001-2014. Matteo Bicocchi (Pupunzi);
http://pupunzi.com/mb.components/mb.miniAudioPlayer/demo/skinMaker.html

Skin name: mySkin
borderRadius: 12
background: rgb(255, 255, 255)
icons: rgb(204, 204, 204)
border: rgb(191, 191, 191)
borderLeft: rgb(255, 255, 255)
borderRight: rgb(230, 230, 230)
mute: rgba(204, 204, 204, 0.4)
download: rgba(255, 255, 255, 0.4)
downloadHover: rgb(255, 255, 255)
++++++++++++++++++++++++++++++++++++++++++++++++++*/

/* Older browser (IE8) - not supporting rgba() */
.mbMiniPlayer.mySkin .playerTable span{background-color:#ffffff}
.mbMiniPlayer.mySkin .playerTable span.map_play{border-left:1px solid #ffffff;}
.mbMiniPlayer.mySkin .playerTable span.map_volume{border-right:1px solid #ffffff;}
.mbMiniPlayer.mySkin .playerTable span.map_volume.mute{color: #cccccc;}
.mbMiniPlayer.mySkin .map_download{color: #cccccc;}
.mbMiniPlayer.mySkin .map_download:hover{color: #cccccc;}
.mbMiniPlayer.mySkin .playerTable span{color: #cccccc;}
.mbMiniPlayer.mySkin .playerTable {border: 1px solid #cccccc !important;}

/*++++++++++++++++++++++++++++++++++++++++++++++++*/

.mbMiniPlayer.mySkin .playerTable{background-color:transparent; border-radius:12px !important;}
.mbMiniPlayer.mySkin .playerTable span{background-color:rgb(255, 255, 255); padding:3px !important; font-size: 20px;}
.mbMiniPlayer.mySkin .playerTable span.map_time{ font-size: 12px !important; width: 50px !important}
.mbMiniPlayer.mySkin .playerTable span.map_title{ padding:4px !important}
.mbMiniPlayer.mySkin .playerTable span.map_play{border-left:1px solid rgb(230, 230, 230); border-radius:0 11px 11px 0 !important;}
.mbMiniPlayer.mySkin .playerTable span.map_volume{padding-left:6px !important}
.mbMiniPlayer.mySkin .playerTable span.map_volume{border-right:1px solid rgb(255, 255, 255); border-radius:11px 0 0 11px !important;}
.mbMiniPlayer.mySkin .playerTable span.map_volume.mute{color: rgba(204, 204, 204, 0.4);}
.mbMiniPlayer.mySkin .map_download{color: rgba(255, 255, 255, 0.4);}
.mbMiniPlayer.mySkin .map_download:hover{color: rgb(255, 255, 255);}
.mbMiniPlayer.mySkin .playerTable span{color: rgb(204, 204, 204);text-shadow: none!important;}
.mbMiniPlayer.mySkin .playerTable span{color: rgb(204, 204, 204);}
.mbMiniPlayer.mySkin .playerTable {border: 1px solid rgb(191, 191, 191) !important;}
.mbMiniPlayer.mySkin .playerTable span.map_title{color: #000; text-shadow:none!important}
.mbMiniPlayer.mySkin .playerTable .jp-load-bar{background-color:rgba(255, 255, 255, 0.3);}
.mbMiniPlayer.mySkin .playerTable .jp-play-bar{background-color:#ffffff;}
.mbMiniPlayer.mySkin .playerTable span.map_volumeLevel a{background-color:rgb(230, 230, 230); height:80%!important }
.mbMiniPlayer.mySkin .playerTable span.map_volumeLevel a.sel{background-color:#cccccc;}
.mbMiniPlayer.mySkin  span.map_download{font-size:50px !important;}
/* Wordpress playlist select */
.map_pl_container .pl_item.sel{background-color:rgba(255, 255, 255, 0.1) !important; color: #999}
/*++++++++++++++++++++++++++++++++++++++++++++++++*/

/*動畫工具箱*/
/* Shrink */
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

/*preloader*/
.preloader{
  position:absolute;
  z-index:1000;
  height:100vh;
  width:100vw;
}

.background{
  position:absolute;
  left:0;
  top:0;
  z-index:80;
  height:100vh;
  width:100vw;
  background-color:#C6C3B3;
}


.tetrominos {
  position: absolute;
  z-index:100;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-112px, -96px);
          transform: translate(-112px, -96px);
}

.tetromino {
  width: 96px;
  height: 112px;
  position: absolute;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
  background: url('data:image/svg+xml;utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 684"%3E%3Cpath fill="%23010101" d="M305.7 0L0 170.9v342.3L305.7 684 612 513.2V170.9L305.7 0z"/%3E%3Cpath fill="%23fff" d="M305.7 80.1l-233.6 131 233.6 131 234.2-131-234.2-131"/%3E%3C/svg%3E') no-repeat top center;
}

.box1 {
  -webkit-animation: tetromino1 1.5s ease-out infinite;
          animation: tetromino1 1.5s ease-out infinite;
}

.box2 {
  -webkit-animation: tetromino2 1.5s ease-out infinite;
          animation: tetromino2 1.5s ease-out infinite;
}

.box3 {
  -webkit-animation: tetromino3 1.5s ease-out infinite;
          animation: tetromino3 1.5s ease-out infinite;
  z-index: 2;
}

.box4 {
  -webkit-animation: tetromino4 1.5s ease-out infinite;
          animation: tetromino4 1.5s ease-out infinite;
}

@-webkit-keyframes tetromino1 {
  0%, 40% {
    /* compose logo */
    /* 1 on 3 */
    /* L-shape */
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    /* pre-box */
    -webkit-transform: translate(48px, -27px);
            transform: translate(48px, -27px);
  }
  60%, 100% {
    /* box */
    /* compose logo */
    -webkit-transform: translate(96px, 0);
            transform: translate(96px, 0);
  }
}

@keyframes tetromino1 {
  0%, 40% {
    /* compose logo */
    /* 1 on 3 */
    /* L-shape */
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    /* pre-box */
    -webkit-transform: translate(48px, -27px);
            transform: translate(48px, -27px);
  }
  60%, 100% {
    /* box */
    /* compose logo */
    -webkit-transform: translate(96px, 0);
            transform: translate(96px, 0);
  }
}
@-webkit-keyframes tetromino2 {
  0%, 20% {
    /* compose logo */
    /* 1 on 3 */
    -webkit-transform: translate(96px, 0px);
            transform: translate(96px, 0px);
  }
  40%, 100% {
    /* L-shape */
    /* box */
    /* compose logo */
    -webkit-transform: translate(144px, 27px);
            transform: translate(144px, 27px);
  }
}
@keyframes tetromino2 {
  0%, 20% {
    /* compose logo */
    /* 1 on 3 */
    -webkit-transform: translate(96px, 0px);
            transform: translate(96px, 0px);
  }
  40%, 100% {
    /* L-shape */
    /* box */
    /* compose logo */
    -webkit-transform: translate(144px, 27px);
            transform: translate(144px, 27px);
  }
}
@-webkit-keyframes tetromino3 {
  0% {
    /* compose logo */
    -webkit-transform: translate(144px, 27px);
            transform: translate(144px, 27px);
  }
  20%, 60% {
    /* 1 on 3 */
    /* L-shape */
    /* box */
    -webkit-transform: translate(96px, 54px);
            transform: translate(96px, 54px);
  }
  90%, 100% {
    /* compose logo */
    -webkit-transform: translate(48px, 27px);
            transform: translate(48px, 27px);
  }
}
@keyframes tetromino3 {
  0% {
    /* compose logo */
    -webkit-transform: translate(144px, 27px);
            transform: translate(144px, 27px);
  }
  20%, 60% {
    /* 1 on 3 */
    /* L-shape */
    /* box */
    -webkit-transform: translate(96px, 54px);
            transform: translate(96px, 54px);
  }
  90%, 100% {
    /* compose logo */
    -webkit-transform: translate(48px, 27px);
            transform: translate(48px, 27px);
  }
}
@-webkit-keyframes tetromino4 {
  0%, 60% {
    /* compose logo */
    /* 1 on 3 */
    /* L-shape */
    /* box */
    -webkit-transform: translate(48px, 27px);
            transform: translate(48px, 27px);
  }
  90%, 100% {
    /* compose logo */
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes tetromino4 {
  0%, 60% {
    /* compose logo */
    /* 1 on 3 */
    /* L-shape */
    /* box */
    -webkit-transform: translate(48px, 27px);
            transform: translate(48px, 27px);
  }
  90%, 100% {
    /* compose logo */
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.content {
  background: #9C27B0;
  animation: hue 10s linear infinite;
  min-height: 100%;
}

.loader {
  position: absolute;
  z-index:90;
  text-align: center;
  width: 100%;
  height: 2em;
  top: 80%;
  margin-top: -1em;
}
.loader_letter {
  text-transform: uppercase;
  color: #fff;
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  padding: 0 .2em;
  font-size: 2em;
  line-height: 1;
  position: relative;
  display: inline-block;
  animation: bounce 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) infinite alternate;
}
.loader_letter:nth-child(1) {
  animation-delay: 0s;
}
.loader_letter:nth-child(2) {
  animation-delay: 0.05s;
}
.loader_letter:nth-child(3) {
  animation-delay: 0.1s;
}
.loader_letter:nth-child(4) {
  animation-delay: 0.15s;
}
.loader_letter:nth-child(5) {
  animation-delay: 0.2s;
}
.loader_letter:nth-child(6) {
  animation-delay: 0.25s;
}
.loader_letter:nth-child(7) {
  animation-delay: 0.3s;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-1em);
  }
}











